.block {
  background: white;
  overflow: hidden;
  padding: 4em 0;
}

.block--light {
  background: $gray-300;
}

.block__title {
  font-size: 1.3em;
  text-transform: capitalize;
}

.block__title--underline {
  margin: 3em 0;
  padding-bottom: 1em;
  border-bottom: 3px solid $blue-grey-900;
  color: $blue-grey-900;
  // font-size: 1.3em;
  font-weight: bold;
}

.block--dark {
  background: $gray-700;
  color: #F5F5F5;
}

.block--darkest {
  background: $gray-900;
  color: #F5F5F5;
}
