.block {
  background: white;
  overflow: hidden;
  padding: 4em 0;
}

.block__copy {
  margin: auto;
  padding: 1.5em 0;
  max-width: 34em;
}

.block--light {
  background: $gray-300;
}

.block__title {
  font-size: 1.5em;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 1em;
  color: $blue-grey-900;
  font-weight: bold;
}

.block__sub-title {
  @extend .block__title;
  font-size:1.4em;
  margin:0;
}

.block__title--underline {
  padding: 0 0 1em 0;
  display: inline-block;
  border-bottom: 3px solid $blue-grey-900;
}

.block__title--light {
  color: $blue-grey-100;
  border-color: $blue-grey-100;
}

.block--dark {
  background: $gray-700;
  color: #F5F5F5;
}

.block--darkest {
  background: $gray-900;
  color: #F5F5F5;

  a {
    color: white;
  }
}

.block__content {
  padding: 3em 0;
}
