
.card {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  padding: 1.5em 0.5em;
  background: #F5F5F5;

  a {
    color: $primary-dark;

    &:hover, &:focus {
      font-weight: bold;
    }
  }
}

.card--contact-card {
  max-width: 512px;
  margin: 0 auto;
}

.card--more-padding {
  padding: 1em 2em;
}

.card__heading {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;

  &--center {
    text-align: center;
  }
}

.card__body {
  margin: 0;
  padding: 1em 0;
}

.card__cta-container {
  text-align: center;
}

.card__icon {
  display: block;

  &:before {
    // @extend .icon-font;
    font-size: 2.5em;
  }
}

.card__icon--message:before {
  @extend .icon-typing:before;
}

.card__icon--announcement:before {
  @extend .icon-megaphone:before;
}

@media (min-width: 490px) {
  .card__icon {
    display: inline-block;
    vertical-align: middle;
    padding-right: 1em;
  }

  .card__body {
    text-align: center;
  }

  .card--more-padding {
    padding: 1em 4em;
  }

}


@media (min-width: 1200px) {
  .card--max-width {
    margin: 0 auto;
    max-width: 1200px;
  }

  .card__body {
    text-align: left;
  }

  .card--contact-card .card__body {
    text-align: inherit;
  }
}
