.cta {
  border: 5px solid $primary-dark;
  display: inline-block;
  padding: 0.7em;
  font-size: 1.1em;
  font-weight: bold;
  transition: all 0.2s ease-in;

  &, &:hover, &:focus {
    color: $primary-dark;
    text-decoration: none;
  }

  &:hover, &:focus {
    background: $primary-dark;
    color:$blue-grey-100;
    border-color: transparent;
  }

  &--light {
    border-color:$gray-300;
    color: $gray-300;

    &:hover, &:focus {
      background: $gray-300;
      border-color: $gray-300;
      color: $primary-dark;
    }
  }
}

.cta--secondary {
  font-size: 1em;
  border-width: 3px;
  padding: 0.5em;
}

.cta--transparent {
  background: transparent;
}
