.what-is-iaijutsu__kanji {
  width: 70%;
  padding: 2em 0;
  max-width: 260px;
}


.ki-ken-tai {
  padding-bottom: 2em;

  &__kanji {
    height: 7em;
  }

  &__title {
    font-size: 1.4em;
  }

}

.ki-ken-tai-section {
  max-width: 1100px;
  margin: 0 auto;
}

.kikyo-mon {
  padding: 2em 0;
  width: 70%;
  max-width: 260px;
}

.katana-image {
  width: 100%;
  max-width:34em;
  padding-top: 5em;
}
