.masthead {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  position: relative;
  -webkit-filter: grayscale(0.3);
  filter: grayscale(0.3);

  &--home-page {
    background-image: url("images/honbu.jpg")
  }

  &--east-lansing-page {
    background-image: url("images/honbu-side-outside.jpg");
  }

  &--content-page {

  }

  &--southeast-michigan-page {
    background-image: url("images/sem-shinzen.jpg");
  }

  &--training-information-page {
    background-image: url("images/group-tou-rei.jpg");
  }
}

.masthead__title-container {
  display: inline-block;
  background-image: url("images/kikyo-true-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 2.5em;
}

.masthead__title {
  font-size: 1.5em;
  margin: 0;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  padding: 0.5em 1em;
  background: rgba(0,0,0,0.3);
}

.masthead__title--sub {
  font-size: 0.7em;
  font-style: italic;
  font-variant: small-caps;
  text-align: right;
}

@media (min-width: 570px) {
  .masthead__title {
    right: auto;
    font-size: 1.8em;
  }
}

@media (min-width: 768px) {
  .masthead {
    height: 400px;
  }

  .masthead--content-page {
    height: 250px
  }

  .masthead__title {
    font-size: 2.5em;
  }
}

@media (min-width: 1045px) {
  .masthead {
    height: 500px;
  }

  .masthead--content-page {
    height: 250px
  }

  // TODO align title to lower center ish - maybe
}
