.site-header {
  border: 4px solid $primary-dark;
  border-left: 0;
  width: 56%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: white;
  transform: translateX(-110%);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  transition: all 0.5s cubic-bezier(0.18, 0.61, 0.1, 0.98);
  z-index: 2000;

  &--open {
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .site-header {
    border: 0;
    border-bottom: 4px solid $primary-dark;
    transform: translateX(0);
    box-shadow: none;
    transition: none;
    width: 100%;
    bottom: auto;
  }
}




.site-nav__link {
  font-size: 1.1em;
  padding: 1.5em 2em;
  color: $primary-dark;
  font-weight: bold;
  display: block;

  &:focus,
  &:hover {
    color: white;
    text-decoration: none;
    background-color: $primary-dark;
  }
}

@media (min-width: 768px) {

  .site-nav__link {
    display: inline-block;
  }

  .site-nav__link--home {
    float: left;
  }

  .site-nav__pages {
    float: right;
  }

}
