$primary-dark: #263238;
$primary: #607D8B;
$primary-highlight: #1A237E;

$blue-grey-900: #263238;
$blue-grey-500: #607D8B;
$blue-grey-100: #CFD8DC;

$gray-300: #E0E0E0;
$gray-400: #BDBDBD;
$gray-700: #616161;
$gray-900: #212121;

*, *:before, *:after {
  box-sizing: border-box;
}

@import "normalize";
@import "icon-styles";
@import "site-nav";
@import "masthead";
@import "block";
@import "card";
@import "footer-nav";
@import "mobile-nav";
@import "cta";
@import "kanji-mon-and-stuff";
@import "location";
@import "news";
@import "teaser";
@import "media";
@import "util";


body {
  color: $primary-dark;
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: underline;
}

.site-wrapper {
  padding-top: 70px
}

.overlay--enabled {
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
  background: rgba(0,0,0,0.5);
}

.person {
  display: inline-block;
  text-align: left;

  p {
    margin: 0 0 2px 0;
  }
}
