$primary-dark: #263238;
$primary: #607D8B;
$primary-highlight: #1A237E;

$blue-grey-900: #263238;
$blue-grey-500: #607D8B;
$blue-grey-100: #CFD8DC;

$gray-300: #E0E0E0;
$gray-400: #BDBDBD;
$gray-700: #616161;
$gray-900: #212121;

*, *:before, *:after {
  box-sizing: border-box;
}

@import "normalize";
@import "site-nav";
@import "landing-page";
@import "block";
@import "mobile-nav";
@import "learn-more";
@import "kanji-mon-and-stuff";
@import "media";
@import "util";


body {
  color: $primary-dark;
  font-family: 'Noto Sans', sans-serif;
}


.site-wrapper {
  padding-top: 70px
}

.overlay--enabled {
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
  background: rgba(0,0,0,0.5);
}

.location-image {
  background-image: url("images/bay-court.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  height: 400px;
  filter: grayscale(0.2);

  &__title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }
}

.location-block {
  padding-bottom: 85px;
}

.footer-nav__link {
  @extend .site-nav__link;
  color: white;
  border-bottom: 5px solid transparent;

  &:hover, &:focus {
    background-color: transparent;
    border-bottom-color: white;
  }
}
