$primary-dark: #263238;
$primary: #607D8B;
$primary-highlight: #1A237E;

$blue-grey-900: #263238;
$blue-grey-500: #607D8B;
$blue-grey-100: #CFD8DC;

$gray-300: #E0E0E0;
$gray-400: #BDBDBD;
$gray-700: #616161;
$gray-900: #212121;

*, *:before, *:after {
  box-sizing: border-box;
}

@import "normalize";
@import "header";
@import "landing-page";
@import "block";
@import "util";


body {
  color: $primary-dark;
  font-family: 'Noto Sans', sans-serif;
}


.site-wrapper {
  padding-top: 70px
}

.what-is-iaijutsu__kanji {
  width: 55%;
  padding: 2em;
}

.learn-more {
  border: 5px solid $primary-dark;
  display: inline-block;
  padding:.7em;
  font-size: 1.1em;
  font-weight: bold;
  transition: all 0.2s ease-in;

  &, &:hover, &:focus {
    color: $primary-dark;
    text-decoration: none;
  }

  &:hover, &:focus {
    background: $primary-dark;
    color:$blue-grey-100;
    border-color: transparent;
  }

  &--light {
    border-color:$gray-300;
    color: $gray-300;

    &:hover, &:focus {
      background: $gray-300;
      border-color: $gray-300;
      color: $primary-dark;
    }
  }
}

.ki-ken-tai {
  padding-bottom: 2em;
}
