include ../partials/header.jade

section(role="main")
  
  div.masthead.masthead--home-page.row
    h1.masthead__title
      span.masthead__title-container
        div.masthead__title--main United States
        div.masthead__title--main Tamiya Ryu Iaijutsu

  div.block.block--light.row
    div.col-xs-12.center
      h2.block__title.block__title--underline A traditional Japanese sword drawing martial art in Michigan
    
    div.col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3.center
      p.block__copy The United States Tamiya Ryu Iaijustu Ogranization is an official branch of the Tamiya Ryu Iaijutsu Genwakai and is headquarted in East Lansing, Michigan with a branch dojo located in Clarkston, Michigan.

      p.block__copy We are the official representatives of this 400+ year old koryu art in the United States. Here you will find the history of both Tamiya Ryu and its history in the United States as well as information on where to find a dojo and how to join. We hope to see you on the dojo floor soon!
      
      a(href="/training-information.html").cta Learn more
      
    div.col-xs-10.col-xs-offset-1
      ul.news
        
        li.news__item
          div.card.card--max-width.row
            div.col-xs-12.col-lg-5
              h3.card__heading #[span.card__icon.icon-typing] Message from the Head Instructor
            div.col-xs-12.col-lg-5
              p.card__body Gennan Buhaku sensei shares his thoughts on various topics
            div.col-xs-12.col-lg-2.card__cta-container
              a(href="/resources.html").cta.cta--secondary.cta--transparent Read More
          
        li.news__item
          div.card.card--max-width.row
            div.col-xs-12.col-lg-5
              h3.card__heading #[span.card__icon.icon-megaphone] Announcement
            div.col-xs-12.col-lg-5
              p.card__body We are excited to announce the Michigan Honbu in East Lansing is offering a #[b free introductory month]. Visit the #[a(href="/training-information.html") training information page for more information!]
            div.col-xs-12.col-lg-2.card__cta-container
              a(href="/east-lansing-michigan-honbu-dojo.html").cta.cta--secondary.cta--transparent Learn More
              
        li.news__item
          div.card.card--max-width.row
            div.col-xs-12.col-lg-5
              h3.card__heading #[span.card__icon.icon-youtube] Introduction Video
            div.col-xs-12.col-lg-5
              p.card__body Please note that some of the locaiton information in the below video has changed but the information specific to the practice of Tamiya Ryu Iaijutsu remains the same!
            div.col-xs-12.center
              iframe.video.center(width="640" height="480" src="https://www.youtube.com/embed/w80xfxDG0jE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen)
            
  div.block.row.center
    div.col-xs-8.col-xs-offset-2
      h2.block__title.block__title--underline Locations

    div.col-xs-10.col-xs-offset-1.block__content
      div.row

        div.col-xs-12.col-sm-6.location-block
          h3.block__sub-title East Lansing, Michigan
          
          div.media.media--center.media--max-width
            img(src="images/east-lansing-location.jpg").media__image
            div.media__panel
              h4.media__title Michigan Honbu Dojo
              p.media__body The Michigan Honbu dojo is the headquarters for Tamiya Ryu Iajiutsu operations in the United States.
              
              div.center
                a(href="/east-lansing-michigan-honbu-dojo.html").media__cta Learn more
          
        div.col-xs-12.col-sm-6.location-block
          h3.block__sub-title Clarkston, Michigan
          
          div.media.media--center.media--max-width
            img(src="images/clarkston-location.jpg").media__image
            div.media__panel
              h4.media__title Southeast Michigan Dojo
              p.media__body The Southeast Michigan Branch dojo holds class at Independence Parks and Recreation's Bay Court Park facility.
              
              div.center
                a(href="/southeast-michigan-branch-dojo.html").media__cta Learn more
                
      div.col-xs-12.location-block.location-block--announcement
        div.card.card--max-width.row
          div.col-xs-12
            h3.card__heading #[span.card__icon.icon-megaphone] Announcement
          div.col-xs-12
            div.card__body 
              h4.block__title Macomb, Michigan Study Group
              
              p The United States Tamiya Ryu Iaijutsu Organization is proud to announce that Dan Mordan (Genzan) sensei, partnering with Macomb Township Parks &amp; Recreation, will be bringing the art of Tamiya Ryu to Macomb, Michigan. The Macomb Michigan Study Group will meet on #[strong Saturdays from 10:00am to 12:00pm] at the Macomb Township Community Recreation Center. 
              
              p Registration will be handled through Macomb Township Parks &amp; Recreation. Regisration begins August 29th, 2016 while classes begin Saturday September 24th, 2016.
            
              p Please visit #[a(href="http://www.gomtpr.org/") gomtpr.org] for registration details. Other inquiries should be directed to Genzan sensei at #[a(href="mailto:genzan@ustamiyaryu.org") genzan@ustamiyaryu.org]. 
              
              p.center We hope to see you there!
          

      div.row.center
        div.col-xs-12
          article.block__content
              
            div.col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3
              h2.block__title.block__title--underline Learn About Japanese Swordsmanship
              p.block__copy Train your body and mind. Tamiya Ryu is a koryu (literally, "old school") sword art not taught outside Japan until recently. The United States Tamiya Ryu Iaijutsu Orgranization is the only official group practicing this art in America.
              
              p
                a(href="/contact.html").cta Contact Us
              
              img(src="images/katana.svg").katana-image
      
  div.block.block--light.row.what-is-iaijutsu.center
    div.col-xs-12
      h2.block__title.block__title--underline What Is Iaijutsu

    div.col-xs-10.col-xs-offset-1
      div.row
        div.col-xs-12.col-md-6.col-md-offset-0
          article.block__content
            h3.block__title Iaijutsu
            
            img(src="images/iaijutsu-kanji.svg").what-is-iaijutsu__kanji
            
            p.block__copy Iaijutsu is a martial art (bujutsu) that strives to supress a sudden attack by the attacker against the defender using a single, swift stroke of the sword and seeks to master the various principles of drawing, re-sheathing and using the sword.
           
            p.block__copy Furthermore, iaijutsu is a martial way (budo) as it practiced with a humble and modest heart and continually trains the spirit.
         
        div.col-xs-12.col-md-6.col-md-offset-0
          article.block__content
            h3.block__title Tamiya Ryu

            img(src="images/tamiyaryu-kanji.svg").what-is-iaijutsu__kanji
            
            p.block__copy Tamiya Ryu Iaijutsu is a military art (bugei) that was introduced in the Tensho period (1573-1591) by its founder, Tamiya Heibei Narimasa. Narimasa, together with Katayama Hoki no kami Hisayasu (the founder of Hoki Ryu) and Sekiguchi Jushin (the founder of Sekiguchi Ryu) were pupiles of Hayashizake Jinsuke Shigenobu, the founder of iaijutsu.
            
            p.block__copy The style characteristics of the Tamiya school of swordsmenship are: First volume (Omote no maki) containing evelen kata and Second volume (Koran no maki) containing fourteen kata.
            
            p.block__copy As a serious course of study, learning Tamiya Ryu Iaijutsu involves having a clear understanding of the concepts known as "Tamiya Nobility" and "Tamiya Purity".
    
  div.block.block--darkest.row.center
    div.col-xs-10.col-xs-offset-1
      h2.block__title.block__title--underline.block__title--light United States Tamiya Ryu Iaijutsu
      
      p.block__copy Training focuses on the harmonization of mind, body, and spirit through the practice and performance of kata (pre-arranged techniques). Techniques are practiced with the philosophy of the "sword which gives life (Katsujin no Ken)," as opposed to the "sword which takes life (Satsujin no Ken)."
      
      p.block__copy Emphasis is placed on basic techniques. To properly learn kata means studying 1) how to cut using the scabbard opening (sayaguchi) and 2) how to use the scabbard hand (sayate).
      
      img(src="images/mon.svg").kikyo-mon
      
      p.block__copy Occasionally students will also practice Kenshibu - a traditional Japanese dance utilizing sword and fan. Kenshibu is performed to the accompaniment of poems (sung in a style called Shigin) that depict famous events in Japanese history.
  
  div.block.row.center
    //- TODO: limit the max width of this section
    div.block__content.ki-ken-tai-section
      div.col-xs-8.col-xs-offset-2.center.col-sm-4.col-sm-offset-0
        .ki-ken-tai
          img(src="images/ki-kanji.svg").ki-ken-tai__kanji
          h3.ki-ken-tai__title Ki
          p.ki-ken-tai__body Spirit. Tamiya Ryu trains the spirit and aims to create a harmonious character.

      div.col-xs-8.col-xs-offset-2.center.col-sm-4.col-sm-offset-0
        .ki-ken-tai
          img(src="images/ken-kanji.svg").ki-ken-tai__kanji
          h3.ki-ken-tai__title Ken
          p.ki-ken-tai__body Sword. The sword of Tamiya Ryu is one that gives life or katsujin no ken.
          
      div.col-xs-8.col-xs-offset-2.center.col-sm-4.col-sm-offset-0
        .ki-ken-tai
          img(src="images/tai-kanji.svg").ki-ken-tai__kanji
          h3.ki-ken-tai__title Tai
          p.ki-ken-tai__body Body. By harmonizing the spirit, sword, and body, the practice of Iaijutsu becomes dignified.
  
include ../partials/footer.jade
