doctype html
html(lang="en")
  head
    title Traditional Japanese Swordsmanship | United States Tamiya Ryu Iaijutsu
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="The United States Tamiya Ryu Organization offers classes in traditional Japanese swordsmanship called iaijutsu. There are dojo located in Central and Southeast Michigan.")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(href="http://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css")
    link(rel="stylesheet", href="/style.css", type="text/css")
  body
    //- TODO fix all the imgs - need width/height attributes
    //- TODO move the mobile nav to the bottom?
    div.overlay
    div.site-wrapper.container-fluid
      
      nav.mobile-nav
        button(data-menu).mobile-nav__menu-button menu
      
      header.site-header
        //- TODO: fix the scaling of the background image
        
        nav.site-nav
          a.site-nav__link(href="#") Home
          div.site-nav__pages
            a.site-nav__link(href="/training.html") Training Information
            a.site-nav__link(href="/history.html") History
            a.site-nav__link(href="/resources.html") Resources
            a.site-nav__link(href="/contact.html") Contact Us
      
      section
        
        div.landing-page.row
          h1.landing-page__title
            span.landing-page__title-container
              div.landing-page__title--main United States
              div.landing-page__title--main Tamiya Ryu Iaijutsu

        div.block.block--light.row
          div.col-xs-12.center
            h2.block__title.block__title--underline A traditional Japanese sword drawing martial art in Michigan
          
          div.col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3.center
            p.block__copy The United States Tamiya Ryu Iaijustu Ogranization is an official branch of the Tamiya Ryu Iaijutsu Genwakai and is headquarted in East Lansing, Michigan with a branch dojo located in Clarkston, Michigan.

            p.block__copy We are the official representatives of this 400+ year old koryu art in the United States. Here you will find the history of both Tamiya Ryu and its history in the United States as well as information on where to find a dojo and how to join. We hope to see you on the dojo floor soon!
            
            a(href="#").cta Learn more
            
          div.col-xs-10.col-xs-offset-1
            ul.news
              
              li.news__item
                div.card.card--max-width.row
                  div.col-xs-12.col-lg-5
                    h3.card__heading #[span.card__icon.card__icon--message] Message from the Head Instructor
                  div.col-xs-12.col-lg-5
                    p.card__body Gennan Buhaku sensei shares his thoughts on various topics
                  div.col-xs-12.col-lg-2.card__cta-container
                    button.cta.cta--secondary.cta--transparent Read More
                
              li.news__item
                div.card.card--max-width.row
                  div.col-xs-12.col-lg-5
                    h3.card__heading #[span.card__icon.card__icon--announcement] Announcement
                  div.col-xs-12.col-lg-5
                    p.card__body We are excited to announce the Michigan Honbu in East Lansing is offering a #[b free introductory month]. Visit the #[a(href="#") training information page for more information!]
                  div.col-xs-12.col-lg-2.card__cta-container
                    button.cta.cta--secondary.cta--transparent Learn More
                  
        div.block.row.center
          div.col-xs-8.col-xs-offset-2
            h2.block__title.block__title--underline Locations

          div.col-xs-10.col-xs-offset-1.block__content
            div.row

              div.col-xs-12.col-sm-6.location-block
                h3.block__sub-title East Lansing, Michigan
                
                div.media.media--center.media--max-width
                  img(src="images/east-lansing-location.jpg").media__image
                  div.media__panel
                    h4.media__title Michigan Honbu Dojo
                    p.media__body The Michigan Honbu dojo is the headquarters for Tamiya Ryu Iajiutsu operations in the United States.
                    
                    div.center
                      a(href="#").media__cta Learn more
                
              div.col-xs-12.col-sm-6.location-block
                h3.block__sub-title Clarkston, Michigan
                
                div.media.media--center.media--max-width
                  img(src="images/clarkston-location.jpg").media__image
                  div.media__panel
                    h4.media__title Southeast Michigan Dojo
                    p.media__body The Southeast Michigan Branch dojo holds class at Independence Parks and Recreation's Bay Court Park facility.
                    
                    div.center
                      a(href="#").media__cta Learn more

            div.row.center
              div.col-xs-12
                article.block__content
                    
                  div.col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3
                    h2.block__title.block__title--underline Learn About Japanese Swordsmanship
                    p.block__copy Train your body and mind. Tamiya Ryu is a koryu (literally, "old school") sword art not taught outside Japan until recently. The United States Tamiya Ryu Iaijutsu Orgranization is the only official group practicing this art in America.
                    
                    p
                      a(href="/contact.html").cta Contact Us
                    
                    img(src="images/katana.svg").katana-image
            
        div.block.block--light.row.what-is-iaijutsu.center
          div.col-xs-12
            h2.block__title.block__title--underline What Is Iaijutsu

          div.col-xs-10.col-xs-offset-1
            div.row
              div.col-xs-12.col-md-6.col-md-offset-0
                article.block__content
                  h3.block__title Iaijutsu
                  
                  img(src="images/iaijutsu-kanji.svg").what-is-iaijutsu__kanji
                  
                  p.block__copy Iaijutsu is a martial art (bujutsu) that strives to supress a sudden attack by the attacker against the defender using a single, swift stroke of the sword and seeks to master the various principles of drawing, re-sheathing and using the sword.
                 
                  p.block__copy Furthermore, iaijutsu is a martial way (budo) as it practiced with a humble and modest heart and continually trains the spirit.
                  
                  a(href="#").cta Learn more
               
              div.col-xs-12.col-md-6.col-md-offset-0
                article.block__content
                  h3.block__title Tamiya Ryu

                  img(src="images/tamiyaryu-kanji.svg").what-is-iaijutsu__kanji
                  
                  p.block__copy Tamiya Ryu Iaijutsu is a military art (bugei) that was introduced in the Tensho period (1573-1591) by its founder, Tamiya Heibei Narimasa. Narimasa, together with Katayama Hoki no kami Hisayasu (the founder of Hoki Ryu) and Sekiguchi Jushin (the founder of Sekiguchi Ryu) were pupiles of Hayashizake Jinsuke Shigenobu, the founder of iaijutsu.
                  
                  p.block__copy The style characteristics of the Tamiya school of swordsmenship are: First volume (Omote no maki) containing evelen kata and Second volume (Koran no maki) containing fourteen kata.
                  
                  p.block__copy As a serious course of study, learning Tamiya Ryu Iaijutsu involves having a clear understanding of the concepts known as "Tamiya Nobility" and "Tamiya Purity".
                  
                  a(href="#").cta Learn more
          
        div.block.block--darkest.row.center
          div.col-xs-10.col-xs-offset-1
            h2.block__title.block__title--underline.block__title--light United States Tamiya Ryu Iaijutsu
            
            p.block__copy Training focuses on the harmonization of mind, body, and spirit through the practice and performance of kata (pre-arranged techniques). Techniques are practiced with the philosophy of the "sword which gives life (Katsujin no Ken)," as opposed to the "sword which takes life (Satsujin no Ken)."
            
            p.block__copy Emphasis is placed on basic techniques. To properly learn kata means studying 1) how to cut using the scabbard opening (sayaguchi) and 2) how to use the scabbard hand (sayate).
            
            img(src="images/mon.svg").kikyo-mon
            
            p.block__copy Occasionally students will also practice Kenshibu - a traditional Japanese dance utilizing sword and fan. Kenshibu is performed to the accompaniment of poems (sung in a style called Shigin) that depict famous events in Japanese history.
            
            a(href="#").cta--light Learn more
        
        div.block.row.center
          //- TODO: limit the max width of this section
          div.block__content.ki-ken-tai-section
            div.col-xs-8.col-xs-offset-2.center.col-sm-4.col-sm-offset-0
              .ki-ken-tai
                img(src="images/ki-kanji.svg").ki-ken-tai__kanji
                h3.ki-ken-tai__title Ki
                p.ki-ken-tai__body Spirit. Tamiya Ryu trains the spirit and aims to create a harmonious character.

            div.col-xs-8.col-xs-offset-2.center.col-sm-4.col-sm-offset-0
              .ki-ken-tai
                img(src="images/ken-kanji.svg").ki-ken-tai__kanji
                h3.ki-ken-tai__title Ken
                p.ki-ken-tai__body Sword. The sword of Tamiya Ryu is one that gives life or katsujin no ken.
                
            div.col-xs-8.col-xs-offset-2.center.col-sm-4.col-sm-offset-0
              .ki-ken-tai
                img(src="images/tai-kanji.svg").ki-ken-tai__kanji
                h3.ki-ken-tai__title Tai
                p.ki-ken-tai__body Body. By harmonizing the spirit, sword, and body, the practice of Iaijutsu becomes dignified.
        
      footer.block.block--darkest.row.center
        div.block__content
          
          nav.footer-nav
            a.footer-nav__link(href="#") Home
            a.footer-nav__link(href="/training.html") Training Information
            a.footer-nav__link(href="/history.html") History
            a.footer-nav__link(href="/resources.html") Resources
            a.footer-nav__link(href="/contact.html") Contact Us
          
          p.site-by-line Site design and built by #[a(href="#") James Russell]
        
    script(src="//localhost:35729/livereload.js")
    script(src="https://code.jquery.com/jquery-1.12.0.min.js")
    script(src="site.js")
