doctype html
html(lang="en")
  head
    title Traditional Japanese Swordsmanship | United States Tamiya Ryu Iaijutsu
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="The United States Tamiya Ryu Organization offers classes in traditional Japanese swordsmanship called iaijutsu. There are dojo located in Central and Southeast Michigan.")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(href="http://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css")
    link(rel="stylesheet", href="/style.css", type="text/css")
  body

    div.site-wrapper.container-fluid

      header.site-header
        a.site-nav__link(href="#") Home
        nav.site-nav
          a.site-nav__link(href="/dojo.html") Training Information
          a.site-nav__link(href="/history.html") History
          a.site-nav__link(href="/resources.html") Resources

      div.landing-page.row
        h1.landing-page__title.center
          span.landing-page__title--main United States
          span.landing-page__title--main Tamiya Ryu Iaijutsu

      div.block.block--light.row
        div.col-xs-8.col-xs-offset-2.center
          h2.block__title.block__title--underline A traditional Japanese sword drawing martial art in Michigan

          p The United States Tamiya Ryu Iaijustu Ogranization is an official branch of the Tamiya Ryu Iaijutsu Genwakai and is headquarted in East Lansing, Michigan with a branch dojo located in Clarkston, Michigan.

          p We are the official representatives of this 400+ year old koryu art in the United States. Here you will find the history of both Tamiya Ryu and its history in the United States as well as information on where to find a dojo and how to join. We hope to see you on the dojo floor soon!

      div.block.row.center
        div.col-xs-8.col-xs-offset-2
          h2.block__title.block__title--underline.center Learn About Japanese Swordsmanship

          p Train your body and mind. Tamiya Ryu is a koryu (literally, "old school") sword art not taught outside Japan until recently. The United States Tamiya Ryu Iaijutsu Orgranization is the only official group practicing this art in America.

        div.col-xs-8.col-xs-offset-2.center.col-md-4.col-md-offset-0
          img(src="https://s-media-cache-ak0.pinimg.com/236x/04/31/b3/0431b3bd52ae193d4789c02f93d9838c.jpg")
          h3.block__title Ki

          p Iai is performed solo and focuses on mindfulness

        div.col-xs-8.col-xs-offset-2.center.col-md-4.col-md-offset-0
          img(src="https://s-media-cache-ak0.pinimg.com/236x/04/31/b3/0431b3bd52ae193d4789c02f93d9838c.jpg")
          h3.block__title Ken

          p The sword is a symbol ...

        div.col-xs-8.col-xs-offset-2.center.col-md-4.col-md-offset-0
          img(src="https://s-media-cache-ak0.pinimg.com/236x/04/31/b3/0431b3bd52ae193d4789c02f93d9838c.jpg")
          h3.block__title Tai

          p Learning how to move properly for the given situtation

      div.block.block--light.row.what-is-iaijutsu.center
        div.col-xs-8.col-xs-offset-2
          h2.block__title.block__title--underline What Is Iaijutsu

        div.col-xs-10.col-xs-offset-1
          div.row
            div.col-xs-8.col-xs-offset-2.col-md-6.col-md-offset-0
              h3.block__title Iaijutsu
              
              img(src="https://s-media-cache-ak0.pinimg.com/236x/04/31/b3/0431b3bd52ae193d4789c02f93d9838c.jpg")
              
              p Iaijutsu is a martial art (bujutsu) that strives to supress a sudden attack by the attacker against the defender using a single, swift stroke of the sword and seeks to master the various principles of drawing, re-sheathing and using the sword.
             
              p Furthermore, iaijutsu is a martial way (budo) as it practiced with a humble and modest heart and continually trains the spirit.
             
            div.col-xs-8.col-xs-offset-2.col-md-6.col-md-offset-0
              h3.block__title.center Tamiya Ryu

              img(src="images/tamiyaryu.svg").what-is-iaijutsu__tamiya-ryu-kanji
              
              p Tamiya Ryu Iaijutsu is a military art (bugei) that was introduced in the Tensho period (1573-1591) by its founder, Tamiya Heibei Narimasa. Narimasa, together with Katayama Hoki no kami Hisayasu (the founder of Hoki Ryu) and Sekiguchi Jushin (the founder of Sekiguchi Ryu) were pupiles of Hayashizake Jinsuke Shigenobu, the founder of iaijutsu.
              
              p The style characteristics of the Tamiya school of swordsmenship are: First volume (Omote no maki) containing evelen kata and Second volume (Koran no maki) containing fourteen kata.
              
              p As a serious course of study, learning Tamiya Ryu Iaijutsu involves having a clear understanding of the concepts known as "Tamiya Nobility" and "Tamiya Purity".
        
      div.block.block--darkest.row.center
        div.col-xs-8.col-xs-offset-2
          h2.block__title.block__title--underline.block__title--light United States Tamiya Ryu Iaijutsu
          
          p Training focuses on the harmonization of mind, body, and spirit through the practice and performance of kata (pre-arranged techniques). Techniques are practiced with the philosophy of the "sword which gives life (Katsujin no Ken)," as opposed to the "sword which takes life (Satsujin no Ken)."
          
          p Emphasis is placed on basic techniques. To proper learna kata means studying 1) how to cut using the scabbard opening (sayaguchi) and 2) how to use the scabbard hand (sayate).
          
          p Occasionally students will also practice Kenshibu - a traditional Japanese dance utilizing sword and fan. Kenshibu is performed to the accompaniment of poems (sung in a style called Shigin) that depict famous events in Japanese history.
          
      div.block.row.center
        div.col-xs-8.col-xs-offset-2
          h2.block__title.block__title--underline Locations

        div.col-xs-10.col-xs-offset-1
          div.row.center
            div.col-xs-8.col-xs-offset-2.col-md-6.col-md-offset-0
              h3.block__title East Lansing, Michigan

              p The Michigan Honbu dojo is the headquarters for Tamiya Ryu Iajiutsu operations in the United States. Surrounded by a beautiful Japanese garden, this traditional dojo was built from plans based on a traditional Japanese training hall.

            div.col-xs-8.col-xs-offset-2.col-md-6.col-md-offset-0
              h3.block__title Clarkston, Michigan

              p The Southeast Michigan Branch dojo holds class at Independence Parks and Recreation's Bay Court Park facility.


    script(src="//localhost:35729/livereload.js")
