doctype html
html(lang="en")
  head
    include ./partials/head.jade
  body
    //- TODO fix all the imgs - need width/height attributes
    //- TODO move the mobile nav to the bottom?
    div.overlay
    div.site-wrapper.container-fluid
      
      include ./partials/header.jade
            
      section(role="main")
        
        div.masthead.masthead--content-page.masthead--southeast-michigan-page.row
          h1.masthead__title
            span.masthead__title-container
              div.masthead__title--main United States
              div.masthead__title--main Tamiya Ryu Iaijutsu
              
            div.masthead__title--sub Training Information
        
        include ./partials/east-lansing-michigan-honbu-dojo.jade
        
        div.block.block--darkest.row.center
          div.col-xs-12
            img(src="images/mon.svg").kikyo-mon
        
        include ./partials/southeast-michigan-branch-dojo.jade
              
      include ./partials/footer.jade
        
    include ./partials/scripts.jade
