doctype html
html(lang="en")
  head
    include ../partials/head.jade
  body
    div.overlay
    div.site-wrapper.container-fluid
      
      include ../pages/being-passionate.jade
      
    include ../partials/scripts.jade
