div.block.block--light.block--long-copy.row
  div.col-xs-8.col-xs-offset-2.center
    h2.block__title.block__title--underline Contact Us
    
  div.col-xs-10.col-xs-offset-1
    article.block__content
      div.center
        h3.block__title East Lansing, Michigan - Honbu Dojo

        div.card.card--contact-card
          div.row
            div.col-xs-12
              span.card__icon.icon-mail
            div.col-xs-12
              div.card__body
                div.person
                  p Thomas Hufnagel (Gensui)
                  p 5th Degree
                  p USTRI Director of Operations
                  p USTRI Honbu Branch Manager
                  p USTRI Instructor
                  p Email: #[a(href="mailto:hufnagelt@gmail.com") hufnagelt@gmail.com]

  div.col-xs-10.col-xs-offset-1
    article.block__content
      div.center
        h3.block__title Clarkston, Michigan - Southeast Michigan Branch Dojo

        div.card.card--contact-card
          div.row
            div.col-xs-12
              span.card__icon.icon-mail
            div.col-xs-12
              div.card__body
                div.person
                  p Scott Sier (Genfu)
                  p 5th Degree
                  p USTRI Southeast Michigan Branch Manager
                  p USTRI Instructor
                  p Email: #[a(href="mailto:spsier@gmail.com") spsier@gmail.com]
                  
  div.col-xs-10.col-xs-offset-1
    article.block__content
      div.center
        h3.block__title Macomb, Michigan - Macomb Study Group

        div.card.card--contact-card
          div.row
            div.col-xs-12
              span.card__icon.icon-mail
            div.col-xs-12
              div.card__body
                div.person
                  p Dan Mordan (Genzen)
                  p 5th Degree
                  p USTRI Southeast Michiagan Assistant Branch Manager
                  p USTRI Instructor
                  p Email: #[a(href="mailto:genzan@ustamiyaryu.org") genzan@ustamiyaryu.org]
