footer.block.block--darkest.row.center
  div.block__content
    
    nav.footer-nav
      a.footer-nav__link(href="#") Home
      a.footer-nav__link(href="/training-information.html") Training Information
      a.footer-nav__link(href="/history.html") History
      a.footer-nav__link(href="/resources.html") Resources
      a.footer-nav__link(href="/contact.html") Contact Us
    
    p.site-by-line Site design and code by James Russell
