title Traditional Japanese Swordsmanship | United States Tamiya Ryu Iaijutsu
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content="The United States Tamiya Ryu Organization offers classes in traditional Japanese swordsmanship called iaijutsu. There are dojo located in Central and Southeast Michigan.")
link(href="http://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css")
link(rel="stylesheet", href="/external/bootstrap.min.css", type="text/css")
link(rel="stylesheet", href="/style.css", type="text/css")
