nav.mobile-nav
  button#menu(data-menu).mobile-nav__menu-button menu

header.site-header
  //- TODO: fix the scaling of the background image
  
  nav.site-nav
    a.site-nav__link(href="/") Home
    div.site-nav__pages
      a.site-nav__link(href="/training-information.html") Training Information
      a.site-nav__link(href="/history.html") History
      a.site-nav__link(href="/resources.html") Resources
      a.site-nav__link(href="/contact.html") Contact Us
