div.block.block--light.block--long-copy.row
  include history-of-tri.jade

div.block.block--darkest.row.center
  include soke-and-intangible.jade
    
div.block.block--dark.block--long-copy.row
  include history-of-ustri.jade
