div.col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-4
  article.block__content
    h1.block__title.block__title--underline Genealogy
    
    section
      div.genealogy
        ol.list--ordered.genealogy__soke-list
          li Tamiya Heibei Narimasa
          li Eda Gizaemon
          li Miyake Shui
          li Kurimoto Hanzo
          li Sanno Bangoro Takamitsu
          li Toyota Nakazaemon
          li Toyota Chikazaemon
          li Tsumaki Junjiro Motoaya
          li Tsumaki Nobuhira Motomoro
          li Tsumaki Heinojo Motoshige
          li Tsumaki Ataka Gensei
          li Tsumaki Kotaro Genko
          li Tsumaki Yoio Gensei
          li Tsumaki Seirin Genshin
          li Tsumaki Kazuo Genwa

div.col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3
  article.block__content
    h1.block__title.block__title--underline The Designation of Tamiya Ryu Iaijutsu as an Intangible Asset
    
    p Tsumaki Junjiro Motoaya, the restorer of Tamiya Ryu inherited Tamiya Ryu Iaijutsuin Saijo City of Ehime Prefecture. On September 5th, 1988 (Showa 63), the Old Saijo Han Tamiya Ryu Iaijutsu Preservation Society first announced that Tamiya Ryu Iaijutsu would be designated as an Intagible Cultural Asset (Mukei Bunkazai).
