div.block.block--light.row
  div.col-xs-12.center
    h1.block__title.block__title--underline Southeast Michigan - Branch Dojo

  div.col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3
    p.block__copy The Southeast Michigan Branch dojo holds class at Independence Township Parks and Recreation's Bay Court Park facility. Classes are ran on a monthly schedule.

    p.block__copy To sign up for classes, please contact Independence Twp. Park &amp; Rec at #[a(href="tel:2486258223")(248) 625-8223] or online at #[a(href="itpr.org") itpr.org]. Class is usually on break during August and the last half of Decemeber. After contacting Parks &amp; Rec, please contact the Southeast Michigan dojo so we can prepare beginner materials for your first class!

div.block.row.center
  div.col-xs-8.col-xs-offset-2
    h2.block__title.block__title--underline #[span.icon-calendar] Training Schedule

  div.col-xs-10.col-xs-offset-1.block__content
    p Wednesday, 7:00pm - 8:30pm (Mixed Level)

    p.block__copy If there are five Wednesdays in a month, there will be no class on the fifth Wednesday.

    img(src="images/inazuma-ken-kanji.svg").kikyo-mon.center

div.block.block--light.row.center
  div.col-xs-8.col-xs-offset-2
    h2.block__title.block__title--underline Contact Information

  div.col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3
    div.card.card--contact-card
      div.row
        div.col-xs-12
          span.card__icon.icon-mail
        div.col-xs-12
          div.card__body
            div.person
              p Scott Sier (Genfu)
              p 5th Degree
              p USTRI Southeast Michigan Branch Manager
              p USTRI Instructor
              p Email: spsier@gmail.com
